:root {
    --background-color: #f5f5f5;
    --paragraf-color: #666666;
    --button-color: #ffd400;
    --hover-color: #f4c300;
    --button-text-color: #333;
    --card-color: #ffffff;
    --link-color: #004aad;
    --shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    position: relative;
    overflow-x: hidden;
}

header {
    font-family: "Poppins", sans-serif;
    font-weight: 550;
    background-color: var(--link-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.navbar {
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo img {
    height: 40px;
}

.navbar-menu {
    position: absolute;
    transform: translateX(999%);
    top: 95%;
    transition: all 0.3s ease-in-out;
    font-size: 0.875rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    background-color: var(--link-color);
    height: 100dvh;
    width: 3000px;
    padding: 10px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar-menu.navbar-menu-active {
    top: 95%;
    transform: translateX(3%);
    transition: all 0.3s ease-in-out;
}

.navbar-menu a,
.dropdown-content a {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.navbar-menu a:hover,
.dropdown-content a:hover {
    color: var(--hover-color);
}

.dropdown-content {
    display: none;
}

.dropdown-content.active {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    margin-top: 20px;
}

.hamburger-menu img {
    height: 30px;
}

.contact-menu,
.contact-menu a {
    display: none;
}

main {
    position: relative;
    margin-top: 66px;
}

.hero {
    padding: 0;
}

section {
    padding: 40px 16px;
}

.hero {
    overflow-y: hidden;
    height: 91vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("assets/img/background.webp") center/cover no-repeat;
    display: flex;
}

.hero-content {
    font-family: "Poppins", sans-serif;
    color: white;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px 0;
}

.hero-content h1 {
    font-size: 1.75rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

.hero-content p {
    font-size: 1.25rem;
    font-weight: 450;
}

.hero-content a {
    font-family: "Poppins", sans-serif;
    margin-top: 5px;
    text-decoration: none;
    font-size: 0.95rem;
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-weight: 600;
    display: block;
    width: max-content;
    padding: 8px 15px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.hero-content a:hover {
    transform: scale(1.1);
}

.header-section {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px 0;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.header-section h1 {
    font-size: 1.5rem;
    color: var(--button-text-color);
}

.header-section h2 {
    font-size: 1rem;
    color: var(--paragraf-color);
    font-weight: 450;
}
/* Promo Section */
.promo {
    height: 100vh;
}

.promo-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    font-family: "Inter";
}

.promo-card {
    height: auto;
    width: 100%;
    box-shadow: var(--shadow);
    border-radius: 10px;
}

.promo-card-image {
    position: relative;
    background-image: url("assets/img/hotel-vina.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.promo-card-overlay {
    font-family: "Poppins", sans-serif;
    color: var(--card-color);
    text-shadow: var(--shadow);
    font-weight: 550;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.promo-location {
    width: 50%;
    line-height: 20px;
    
}

.promo-card-cta {
    padding: 15px 8px;
    border-radius: 0 0 10px 10px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--link-color);
}

.promo-start {
    display: flex;
    align-items: center;
    gap: 0 30px;
    background-color: var(--background-color);
    padding: 7px;
    border-radius: 10px;
}

.promo-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.promo-date {
    margin-right: 7px;
}

.promo-date p {
    font-size: 1.45rem;
}

.promo-month-days p:nth-child(1) {
    font-size: 0.875rem;
    font-weight: 550;
}

.promo-month-days p:nth-child(2) {
    font-size: 0.55rem;
}

.promo-start img {
    height: 18px;
}

.promo-card-cta-order a {
    display: block;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    font-size: 0.75rem;
    background-color: var(--button-color);
    color: var(--button-text-color);
    padding: 8px 15px;
    border-radius: 15px;
    font-weight: 550;
    transition: all 0.2s ease-in-out;
}

.promo-card-cta-order a:hover {
    color: var(--card-color);
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

/* Ukuran Handphone Sedang */
@media only screen and (min-width: 481px) and (max-width: 576px) {
    .navbar-menu {
        font-size: 0.9rem;
    }

    /* + 0.45 */
    .hero-content h1 {
        font-size: 2.2rem;
    }

    /* + 0.5 */
    .hero-content p {
        font-size: 1.35rem;
    }
}

/* Ukuran Handphone Besar */
@media only screen and (min-width: 577px) and (max-width: 768px) {
    .navbar-menu {
        font-size: 0.9rem;
    }

    /* + 0.45 */
    .hero-content h1 {
        font-size: 2.65rem;
        display: block;
        width: 85%;
    }

    /* + 0.5 */
    .hero-content p {
        font-size: 1.4rem;
        display: block;
        width: 85%;
    }
}

/* Ukuran Tablet */
@media only screen and (min-width: 769px) and (max-width: 1023px) {
    .navbar-menu {
        font-size: 0.975rem;
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;
    }

    .navbar-menu.navbar-menu-active {
        transform: translateX(10%);
        transition: all 0.3s ease-in-out;
    }

    /* + 0.45 */
    .hero-content h1 {
        font-size: 3.05rem;
        display: block;
        width: 85%;
    }

    /* + 0.5 */
    .hero-content p {
        font-size: 1.45rem;
        display: block;
        width: 85%;
    }
}

/* Ukuran Laptop */
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    /* Navbar Section */
    .navbar-menu {
        font-size: 1rem;
        transform: translateX(0);
        background-color: transparent;
        height: auto;
        flex-direction: row;
        top: 0;
        justify-content: center;
        align-items: center;
        position: unset;
        gap: 0 30px;
    }

    .navbar-logo img {
        height: 50px;
    }

    .dropdown-content.active {
        position: absolute;
        background-color: var(--link-color);
        width: 130px;
        padding: 0 0 10px 10px;
        transform: translateX(-7%);
        -webkit-transform: translateX(-7%);
        -moz-transform: translateX(-7%);
        -ms-transform: translateX(-7%);
        -o-transform: translateX(-7%);
    }

    .contact-menu {
        display: block;
    }

    .contact-menu a {
        display: block;
        font-size: 1rem;
        text-decoration: none;
        background-color: var(--button-color);
        color: var(--button-text-color);
        width: max-content;
        padding: 8px 15px;
        border-radius: 20px;
        transition: all 0.2s ease-in-out;
        font-weight: 550;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }

    .contact-menu a:hover {
        transform: scale(1.1);
        transition: all 0.2s ease-in-out;
    }

    #contact-menu {
        display: none;
    }

    .hamburger-menu {
        display: none;
    }

    /* Hero Section */
    .hero-content {
        gap: 20px 0;
    }

    /* + 0.45 */
    .hero-content h1 {
        font-size: 3.5rem;
        display: block;
        width: 60%;
        line-height: 60px;
    }

    /* + 0.5 */
    .hero-content p {
        font-size: 1.5rem;
        display: block;
        width: 55%;
    }

    .hero-content a {
        font-size: 1rem;
        margin-top: 10px;
    }
}
